.SearchList__element {
  height: 30vh;
  width: auto;
}

.SearchList__img {
  height: 70%;
  width: auto;
}

.SearchList__Icon {
  color: rgba(236, 117, 54, 1);
  font-size: 2rem;
}
.SearchList__divIcon {
  background-color: white;
  border: white 5px solid;
  border-radius: 50%;
}
