.SearchList__container {
  display: flex;
  flex-wrap: wrap;
}

.SearchList__element {
  border: solid 1px gray;
  border-radius: 10px;
  height: 30vh;
  width: 30vh;
  margin: 20px;
}
.SearchList__element:hover {
  border-color: white;
  cursor: pointer;
}
.SearchList__img {
  height: 50%;
  width: auto;
  margin-top: 10%;
}

.SearchList__Icon {
  font-size: 2rem;
}
