.App {
  min-height: 100vh;
  height: 100%;
  text-align: center;

  background: rgb(236, 117, 54);
  background: linear-gradient(
    180deg,
    rgba(236, 117, 54, 1) 0%,
    rgba(227, 25, 100, 1) 100%
  );
}
