.appHeader {
  height: 30vh;
  position: relative;
}

.headerIcon {
  color: rgba(236, 117, 54, 1);
  font-size: 2rem;
}
.divIcon {
  position: absolute;
  top: 20%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: white 10px solid;
  border-radius: 50%;
}
.divIcon:hover {
  background-color: rgb(227, 25, 100);
  border-color: rgb(227, 25, 100);
}
.divIcon:hover .headerIcon {
  color: white;
}

.appHeader__search {
  left: 20%;
}
.appHeader__list {
  left: 80%;
}

.appHeader__divLogo {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 25vh;
  transform: translate(-50%, -50%);
}

.appHeader__Logo {
  width: auto;
  height: 100%;
}
