.appHeader {
  height: 30vh;
  position: relative;
}

.headerIcon {
  color: rgba(236, 117, 54, 1);
  font-size: 2rem;
}
.divIcon {
  position: absolute;
  top: 20%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: white 5px solid;
  border-radius: 50%;
}

.appHeader__search {
  left: 20%;
}
.appHeader__list {
  left: 80%;
}
